.subscribe {
  padding: 20px;
  background-color: #f9f7f7;
}

.subscribe-form {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #c4e6f3;
}

.form__text {
  margin-bottom: 40px;
  text-align: center;
}

.form__title {
  text-transform: uppercase;
  font-weight: 300;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-group__inputs {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  margin-bottom: 20px;
}

.inputs-group__input {
  all: unset;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #ffffff;
}

.inputs-group__button {
  all: unset;
  padding: 10px 20px;
  min-width: 300px;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #f07475;
}